
/*Colores*/
$color-firt:#f3f1f1;
$color-second:seagreen;
$color-third:#fff;
$color-fourth:#741d51;
$color-fifth:#e44e52;

/*Fuentes*/

$font-principal: 'Raleway', sans-serif;

$min-phone: 0px;
$phone: 480px;
$tablet: 768px;
$desktop:1024px;

